/* body */
body {
  background-color: #094886;
}

.content {
  margin-left: 10%;
  margin-right: 10%;
}

/* logo */
#logo {
  height: auto;
  width: 20%;
  max-width: 400px;
  min-width: 150px;
  
}


/* nav bar */
div.nav-bar {
  color:white;
  font-size: 25px;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
}
.activeLink{
  color:white;
}

.inactiveLink{
  color:white;  
}

.activeLink:hover{
  color:#6CD4FF; 
}

.inactiveLink:hover{
  color:#6CD4FF; 
}

div.nav-bar a {
  display: inline-block;
  font-family: Times 'Times New Roman', Times, serif;
  text-align: center;
  padding: 14px; 
  text-decoration: none;
}

/* .home-content{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  min-width: 100px;
} */

.welcome {
  font-size: 45px;
}

.mission-and-vision {
  text-align: center;
  font-size: 35px;
  padding: 25px;
  color: white;
}

.mission-and-vision-description {
  font-size: 25px;

}

@media screen and (min-width: 601px) {
 .mission-and-vision{
    font-size: 30px;
  }
  .mission-and-vision{
  font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
   .mission-and-vision{
    font-size: 15px;
  }
   .mission-and-vision{
  font-size: 20px;
  }
}

.footer {
  background-color: white;
  text-align: center;
  color: #094886;
  font-size: 25px;
  padding-top: 25px;
  padding-bottom: 15px;
  height: 50px;
}

/* meet the council styling */
/* meet the council code snippet credit to: https://codepen.io/rkrooneman/pen/WNNVzMR  */
#wrapper_team {
  display: block;
  margin: 0 auto;
  width: 90%;
  top: 0;
  bottom: 0;
  padding: 0rem 0rem 1rem 0rem;
  background-color: white;
  font-family: 'Lora', serif;
  height: 100%;
}

.title_team {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  background-color:white;
  color: #094886;
  margin-top: 0 !important;
  /* padding: 2rem 0; */
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.title_team h1 {
  font-size: 45px;
  color:#094886;
  font-family: 'Times New Roman', Times, serif;
}

#teamcontent {
  display: none;
  margin-bottom: 15px;
  color: #094886;
}

.team_box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: inherit;
  align-items: inherit;
  width: 100%;
}

.container-left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  float: left;
  width: 30%;
}

.container-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  width: 50%;
}

.team {
  display: block;
  max-width: unset;
}

ul li:before {
  display: none;
}

.team li {
  display: block;
  float: left;
  width: 16%;
  margin-right: 0px;
  padding-left: unset;
}
.team li:hover {
  cursor: pointer;
}

.team li:last-child {
  margin-right: 0;
}

.team .hcontent {
  display: none;
}

#teamcontent .bigimg {
  display: block;
  float: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  margin: 4rem;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}

.bigimg-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
background-image: linear-gradient(15deg, rgba(19, 84, 122, 0.7) 0%, rgba(128, 208, 199, 0.7) 100%);
}

.profile_container::after {
  content: "";
  display: block;
  width: 70%;
  background: rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2)50%,
    rgba(255, 255, 255, 0.7)100%
  );
  background: -o-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2)50%,
    rgba(255, 255, 255, 0.7)100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2)50%,
    rgba(255, 255, 255, 0.7)100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2)50%,
    rgba(255, 255, 255, 0.7)100%
  );
  left: -100%;
  top: 0;
  height: 100%;
  position: absolute;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.profile_container:hover::after {
  left: 150%;
  transition: all 1s;
  -webkit-transition: all 0.75s;
  -moz-transition: all 0.75s;
  -o-transition: all 0.75s;
  -ms-transition: all 0.75s;
}

.profile_container:hover .bigimg-overlay {
  opacity: 1;
}

.bigimg-text {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.profile_container {
  position: relative;
  overflow: hidden;
  font-size: 25px;
}

.profilepic {
  width: 100% !important;
  height: auto;
  display: block;
}

#teamdetails {
  display: block;
  float: left;
  width: 600px;
  padding-left: 15px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: flex;
  flex-flow: row nowrap;
}

html[xmlns] .clearfix {
  display: flex;
}

* html .clearfix {
  height: 1%;
}

.flipimg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media only screen and (max-width: 900px) {
  #teamdetails {
    width: unset;
    padding-left: unset;
  }
  li {
    padding-left: unset;
  }
  .profile_container {
    width: 100%;
  }
  #teamcontent .bigimg {
    margin: 2rem 0;
  }
  .bigimg-overlay {
    opacity: 1;
  }
  .team li {
    margin-right: unset;
    width: 100%;
  }
  #wrapper_team {
    padding: 0;
  }
  .clearfix {
    flex-flow: column nowrap;
  }
}

.hcontent desc {
  font-size: 20px;
}

#seated {
  display: flex;
  justify-content: center;
  color: white;
}